<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmathew.kickchase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".KickChaseApplication"
        android:theme="@style/KickChaseTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.OverviewActivity"
            android:theme="@style/KickChaseTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".game.GameActivity" />
        <activity android:name=".game.GameControllerActivity" />
    </application>

</manifest>